
@import "box";
@import "slide-up-boxes";

@mixin box-prototype ($color) {

	@include box;

	background: $color;
	/*@include background-image(linear-gradient(top, $color, ));*/

	/* Chrome, Safari, Opera */
	-webkit-animation: transitionOpacity 2s;
	
	animation: transitionOpacity 2s;

	@include slide-up-boxes;

}


