
@import "../mixins/transition-colorFade";
@import "../mixins/box";

$color: blue;

#box-animation {
	@include box;

	background: $color;

	/* Chrome, Safari, Opera */
	-webkit-animation: transitionColorFade 2s;
	
	animation: transitionColorFade 2s;

}

#box-animation:hover {
	opacity: .75;
}



@include transition-colorFade($color);


