
@import "box";

@mixin gradient-prototype ($color) {

	@include box;

	height: 100px;
	width: 550px;

	@include background-image(linear-gradient(left, white, $color ));

	/* Chrome, Safari, Opera */
	-webkit-animation: transitionOpacity 1s;
	
	animation: transitionOpacity 1s;

}


