@import "../states";

@mixin slide-up-boxes {

	>.color-name { 
		height: 400px;
		text-align: center;
		margin-top: 350px;
		text-decoration: none;
		font-size: 1.4em;
		opacity: 1;
		-webkit-transition: all 0.2s linear; 
		transition: all 0.2s linear; 

		@media #{$media} and ($feature: $value), #{$media} and ($feature2: $valueh) {  
			height: $size;
			margin-top: $size * 7/8;
		 }  
	  
		@media #{$media} and ($feature: $value2), #{$media} and ($feature2: $valueh2) {  
			height: $size2;
			margin-top: $size2 * 7/8;
			@if font-size == 1.4em {
  				font-size: 1.2em;
			}
		}  
	  
		@media #{$media} and ($feature2: $valueh) {  
			height: $size2;
			margin-top: $size2 * 7/8;
			@if font-size == 1.4em {
  				font-size: 1.2em;
			}
		}  
	}


	 >.summary {
		height: 100px;
		text-align: center;
		color: lightgray;
		padding: 10px 10px;
		margin: 100px 0 -20px 0;
		background-color:rgba(72,72,72,0.5);
		font-size: 1.0em;


		@media #{$media} and ($feature: $value), #{$media} and ($feature2: $valueh) {  
			height: $size2 * 1.05;
			margin: $size2/2 0 -$size/20 0;
		 }  
	  
		@media #{$media} and ($feature: $value2), #{$media} and ($feature2: $valueh2){  
			height: $size2 * 1.05;
			margin: $size2/1 0 -$size/20 0;
			@if font-size == 1.0em {
  				font-size: .9em;
			}

		}  
	  
		@media #{$media} and ($feature2: $valueh){  
			display: none;
		}  
	}
}

