
@mixin transition-opacity {

	/* Define animation*/
	/* Chrome, Safari, Opera */
	@-webkit-keyframes transitionOpacity {
		from {
			opacity: 0; 
		}
		to {
			opacity: 1;
		}
	}

	/* For everything else */
	@keyframes transitionOpacity {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

}