
@mixin transition-spin {

	/* Define animation*/
	/* Chrome, Safari, Opera */
	@-webkit-keyframes transition-spin {
		from {
			transform:rotate(0deg);
		}
		to {
			transform:rotate(360deg);
		}
	}

	/* For everything else */
	@keyframes transition-spin {
		from {
			transform:rotate(0deg);
		}
		to {
			transform:rotate(360deg);
		}
	}

}