

body {
	/*background-color: white; */
	/*@include background-image(linear-gradient(top, white, lightgray));*/
	background: url(../../images/background3.png);
	font-family: helvetica, sans-serif;
	postion: relative;
}

.container {
  max-width: 960px;
}



