
body {
	background: white;
	font-family: helvetica, sans-serif;
}

.container {
  max-width: 960px;
}



/*.slide-up-boxes section { 
		display: block; 
		height: 400px; 
		width: 400px;
		margin: 0 0 20px 0; 
		background: cyan; 
		color: gray;
		overflow: hidden; 
	}

	.slide-up-boxes section:hover h5 { 
		margin-top: -200px; 
		opacity: 0; 
	}

	.slide-up-boxes h5 { 
		height: 400px;
		text-align: center;
		margin: 350px 0 0 0;
		text-decoration: none;
		font-size: 1.4em;
		opacity: 1;
		-webkit-transition: all 0.2s linear; 
		transition: all 0.2s linear; 
	
	}


	.slide-up-boxes div {
		height: 100px;
		width: 380px;
		float: left;
		text-align: center;
		color: lightgray;
		padding: 10px 10px;
		margin: 100px 0 0 0;
		background-color:rgba(72,72,72,0.5);
		font-size: .9em;
	}

*/