/* 
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Compass */
/* line 17, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Base */
/* normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../../sass/base/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../../sass/base/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 43, ../../sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 55, ../../sass/base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 65, ../../sass/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 76, ../../sass/base/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 87, ../../sass/base/_normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 96, ../../sass/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 107, ../../sass/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 116, ../../sass/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 124, ../../sass/base/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 133, ../../sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 142, ../../sass/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 151, ../../sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 160, ../../sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 167, ../../sass/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 171, ../../sass/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 182, ../../sass/base/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 190, ../../sass/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 201, ../../sass/base/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 209, ../../sass/base/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 219, ../../sass/base/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 230, ../../sass/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 254, ../../sass/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 264, ../../sass/base/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 276, ../../sass/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 291, ../../sass/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 301, ../../sass/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 310, ../../sass/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 320, ../../sass/base/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 333, ../../sass/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 345, ../../sass/base/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 355, ../../sass/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 369, ../../sass/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 377, ../../sass/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 388, ../../sass/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 397, ../../sass/base/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 406, ../../sass/base/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 417, ../../sass/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 423, ../../sass/base/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 3, ../../sass/base/_base.scss */
body {
  /*background-color: white; */
  /*@include background-image(linear-gradient(top, white, lightgray));*/
  background: url(../../images/background4.png);
  font-family: helvetica, sans-serif;
  postion: relative;
}

/* line 11, ../../sass/base/_base.scss */
.container {
  max-width: 960px;
}

/* Layout */
/* Mixins */
/*Media Query Variables */
/*Media Query Variables */
/*Media Query Variables */
/*Media Query Variables */
/*Media Query Variables */
/*Media Query Variables */
/* Modules */
/*Media Query Variables */
/* line 3, ../../sass/modules/_title.scss */
.title {
  display: inline-block;
  background: white;
}

/* line 9, ../../sass/modules/_title.scss */
.title h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 30px 0 10px 0;
}

/* line 15, ../../sass/modules/_title.scss */
.title h2 {
  width: 900px;
  font-size: 1.5em;
}
@media screen and (max-width: 992px) {
  /* line 15, ../../sass/modules/_title.scss */
  .title h2 {
    display: none;
  }
}

/* line 3, ../../sass/modules/_logo-animation.scss */
.logo-animation {
  margin: 20px;
  width: 100px;
  height: 100px;
  background: transparent;
  float: left;
  /* Chrome, Safari, Opera */
  -webkit-animation: transition-spin 6s linear infinite;
  animation: transition-spin 6s linear infinite;
}

/* Define animation*/
/* Chrome, Safari, Opera */
@-webkit-keyframes transition-spin {
  /* line 7, ../../sass/mixins/_transition-spin.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 10, ../../sass/mixins/_transition-spin.scss */
  to {
    transform: rotate(360deg);
  }
}

/* For everything else */
@keyframes transition-spin {
  /* line 17, ../../sass/mixins/_transition-spin.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 20, ../../sass/mixins/_transition-spin.scss */
  to {
    transform: rotate(360deg);
  }
}

/*Media Query Variables */
/*Media Query Variables */
/*Media Query Variables */
/*Media Query Variables */
/*Media Query Variables */
/* Cyan Box */
/* line 11, ../../sass/modules/_box-modules.scss */
#box-cyan {
  display: block;
  height: 400px;
  width: 400px;
  margin: 20px;
  color: gray;
  overflow: hidden;
  background: cyan;
  /*@include background-image(linear-gradient(top, $color, ));*/
  /* Chrome, Safari, Opera */
  -webkit-animation: transitionOpacity 2s;
  animation: transitionOpacity 2s;
  /*@include slide-up-boxes;*/
}
@media screen and (max-width: 992px) {
  /* line 11, ../../sass/modules/_box-modules.scss */
  #box-cyan {
    height: 300px;
    width: 300px;
    margin: 15px;
  }
}
@media screen and (max-width: 320px) {
  /* line 11, ../../sass/modules/_box-modules.scss */
  #box-cyan {
    height: 200px;
    width: 200px;
    margin: 15px;
  }
}
@media screen and (max-height: 720px) {
  /* line 11, ../../sass/modules/_box-modules.scss */
  #box-cyan {
    height: 200px;
    width: 200px;
    margin: 15px;
  }
}
/* line 5, ../../sass/mixins/_slide-up-boxes.scss */
#box-cyan > .color-name {
  height: 400px;
  text-align: center;
  margin-top: 350px;
  text-decoration: none;
  font-size: 1.4em;
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media screen and (max-width: 992px), screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_slide-up-boxes.scss */
  #box-cyan > .color-name {
    height: 300px;
    margin-top: 262.5px;
  }
}
@media screen and (max-width: 320px), screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_slide-up-boxes.scss */
  #box-cyan > .color-name {
    height: 200px;
    margin-top: 175px;
  }
}
@media screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_slide-up-boxes.scss */
  #box-cyan > .color-name {
    height: 200px;
    margin-top: 175px;
  }
}
/* line 38, ../../sass/mixins/_slide-up-boxes.scss */
#box-cyan > .summary {
  height: 100px;
  text-align: center;
  color: lightgray;
  padding: 10px 10px;
  margin: 100px 0 -20px 0;
  background-color: rgba(72, 72, 72, 0.5);
  font-size: 1.0em;
}
@media screen and (max-width: 992px), screen and (max-height: 720px) {
  /* line 38, ../../sass/mixins/_slide-up-boxes.scss */
  #box-cyan > .summary {
    height: 210px;
    margin: 100px -15px 0;
  }
}
@media screen and (max-width: 320px), screen and (max-height: 720px) {
  /* line 38, ../../sass/mixins/_slide-up-boxes.scss */
  #box-cyan > .summary {
    height: 210px;
    margin: 200px -15px 0;
  }
}
@media screen and (max-height: 720px) {
  /* line 38, ../../sass/mixins/_slide-up-boxes.scss */
  #box-cyan > .summary {
    height: 210px;
    margin: 200px -15px 0;
  }
}

/* line 16, ../../sass/modules/_box-modules.scss */
#box-cyan:hover {
  /*@include slide-up-boxes-hover;*/
}
/* line 5, ../../sass/mixins/_box-hover.scss */
#box-cyan:hover .color-name {
  margin-top: -200px;
  opacity: 0;
}
@media screen and (max-width: 992px) {
  /* line 5, ../../sass/mixins/_box-hover.scss */
  #box-cyan:hover .color-name {
    margin-top: -210px;
  }
}
@media screen and (max-width: 320px) {
  /* line 5, ../../sass/mixins/_box-hover.scss */
  #box-cyan:hover .color-name {
    margin-top: -210px;
  }
}
@media screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_box-hover.scss */
  #box-cyan:hover .color-name {
    margin-top: -210px;
  }
}

/* Magenta Box */
/* line 23, ../../sass/modules/_box-modules.scss */
#box-magenta {
  display: block;
  height: 400px;
  width: 400px;
  margin: 20px;
  color: gray;
  overflow: hidden;
  background: magenta;
  /*@include background-image(linear-gradient(top, $color, ));*/
  /* Chrome, Safari, Opera */
  -webkit-animation: transitionOpacity 2s;
  animation: transitionOpacity 2s;
  /*@include slide-up-boxes;*/
}
@media screen and (max-width: 992px) {
  /* line 23, ../../sass/modules/_box-modules.scss */
  #box-magenta {
    height: 300px;
    width: 300px;
    margin: 15px;
  }
}
@media screen and (max-width: 320px) {
  /* line 23, ../../sass/modules/_box-modules.scss */
  #box-magenta {
    height: 200px;
    width: 200px;
    margin: 15px;
  }
}
@media screen and (max-height: 720px) {
  /* line 23, ../../sass/modules/_box-modules.scss */
  #box-magenta {
    height: 200px;
    width: 200px;
    margin: 15px;
  }
}
/* line 5, ../../sass/mixins/_slide-up-boxes.scss */
#box-magenta > .color-name {
  height: 400px;
  text-align: center;
  margin-top: 350px;
  text-decoration: none;
  font-size: 1.4em;
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media screen and (max-width: 992px), screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_slide-up-boxes.scss */
  #box-magenta > .color-name {
    height: 300px;
    margin-top: 262.5px;
  }
}
@media screen and (max-width: 320px), screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_slide-up-boxes.scss */
  #box-magenta > .color-name {
    height: 200px;
    margin-top: 175px;
  }
}
@media screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_slide-up-boxes.scss */
  #box-magenta > .color-name {
    height: 200px;
    margin-top: 175px;
  }
}
/* line 38, ../../sass/mixins/_slide-up-boxes.scss */
#box-magenta > .summary {
  height: 100px;
  text-align: center;
  color: lightgray;
  padding: 10px 10px;
  margin: 100px 0 -20px 0;
  background-color: rgba(72, 72, 72, 0.5);
  font-size: 1.0em;
}
@media screen and (max-width: 992px), screen and (max-height: 720px) {
  /* line 38, ../../sass/mixins/_slide-up-boxes.scss */
  #box-magenta > .summary {
    height: 210px;
    margin: 100px -15px 0;
  }
}
@media screen and (max-width: 320px), screen and (max-height: 720px) {
  /* line 38, ../../sass/mixins/_slide-up-boxes.scss */
  #box-magenta > .summary {
    height: 210px;
    margin: 200px -15px 0;
  }
}
@media screen and (max-height: 720px) {
  /* line 38, ../../sass/mixins/_slide-up-boxes.scss */
  #box-magenta > .summary {
    height: 210px;
    margin: 200px -15px 0;
  }
}

/* line 28, ../../sass/modules/_box-modules.scss */
#box-magenta:hover {
  /*@include slide-up-boxes-hover;*/
}
/* line 5, ../../sass/mixins/_box-hover.scss */
#box-magenta:hover .color-name {
  margin-top: -200px;
  opacity: 0;
}
@media screen and (max-width: 992px) {
  /* line 5, ../../sass/mixins/_box-hover.scss */
  #box-magenta:hover .color-name {
    margin-top: -210px;
  }
}
@media screen and (max-width: 320px) {
  /* line 5, ../../sass/mixins/_box-hover.scss */
  #box-magenta:hover .color-name {
    margin-top: -210px;
  }
}
@media screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_box-hover.scss */
  #box-magenta:hover .color-name {
    margin-top: -210px;
  }
}

/* Yellow Box */
/* line 35, ../../sass/modules/_box-modules.scss */
#box-yellow {
  display: block;
  height: 400px;
  width: 400px;
  margin: 20px;
  color: gray;
  overflow: hidden;
  background: yellow;
  /*@include background-image(linear-gradient(top, $color, ));*/
  /* Chrome, Safari, Opera */
  -webkit-animation: transitionOpacity 2s;
  animation: transitionOpacity 2s;
  /*@include slide-up-boxes;*/
}
@media screen and (max-width: 992px) {
  /* line 35, ../../sass/modules/_box-modules.scss */
  #box-yellow {
    height: 300px;
    width: 300px;
    margin: 15px;
  }
}
@media screen and (max-width: 320px) {
  /* line 35, ../../sass/modules/_box-modules.scss */
  #box-yellow {
    height: 200px;
    width: 200px;
    margin: 15px;
  }
}
@media screen and (max-height: 720px) {
  /* line 35, ../../sass/modules/_box-modules.scss */
  #box-yellow {
    height: 200px;
    width: 200px;
    margin: 15px;
  }
}
/* line 5, ../../sass/mixins/_slide-up-boxes.scss */
#box-yellow > .color-name {
  height: 400px;
  text-align: center;
  margin-top: 350px;
  text-decoration: none;
  font-size: 1.4em;
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media screen and (max-width: 992px), screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_slide-up-boxes.scss */
  #box-yellow > .color-name {
    height: 300px;
    margin-top: 262.5px;
  }
}
@media screen and (max-width: 320px), screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_slide-up-boxes.scss */
  #box-yellow > .color-name {
    height: 200px;
    margin-top: 175px;
  }
}
@media screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_slide-up-boxes.scss */
  #box-yellow > .color-name {
    height: 200px;
    margin-top: 175px;
  }
}
/* line 38, ../../sass/mixins/_slide-up-boxes.scss */
#box-yellow > .summary {
  height: 100px;
  text-align: center;
  color: lightgray;
  padding: 10px 10px;
  margin: 100px 0 -20px 0;
  background-color: rgba(72, 72, 72, 0.5);
  font-size: 1.0em;
}
@media screen and (max-width: 992px), screen and (max-height: 720px) {
  /* line 38, ../../sass/mixins/_slide-up-boxes.scss */
  #box-yellow > .summary {
    height: 210px;
    margin: 100px -15px 0;
  }
}
@media screen and (max-width: 320px), screen and (max-height: 720px) {
  /* line 38, ../../sass/mixins/_slide-up-boxes.scss */
  #box-yellow > .summary {
    height: 210px;
    margin: 200px -15px 0;
  }
}
@media screen and (max-height: 720px) {
  /* line 38, ../../sass/mixins/_slide-up-boxes.scss */
  #box-yellow > .summary {
    height: 210px;
    margin: 200px -15px 0;
  }
}

/* line 40, ../../sass/modules/_box-modules.scss */
#box-yellow:hover {
  /*@include slide-up-boxes-hover;*/
}
/* line 5, ../../sass/mixins/_box-hover.scss */
#box-yellow:hover .color-name {
  margin-top: -200px;
  opacity: 0;
}
@media screen and (max-width: 992px) {
  /* line 5, ../../sass/mixins/_box-hover.scss */
  #box-yellow:hover .color-name {
    margin-top: -210px;
  }
}
@media screen and (max-width: 320px) {
  /* line 5, ../../sass/mixins/_box-hover.scss */
  #box-yellow:hover .color-name {
    margin-top: -210px;
  }
}
@media screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_box-hover.scss */
  #box-yellow:hover .color-name {
    margin-top: -210px;
  }
}

/* Black Box */
/* line 47, ../../sass/modules/_box-modules.scss */
#box-black {
  display: block;
  height: 400px;
  width: 400px;
  margin: 20px;
  color: gray;
  overflow: hidden;
  background: black;
  /*@include background-image(linear-gradient(top, $color, ));*/
  /* Chrome, Safari, Opera */
  -webkit-animation: transitionOpacity 2s;
  animation: transitionOpacity 2s;
  /*@include slide-up-boxes;*/
}
@media screen and (max-width: 992px) {
  /* line 47, ../../sass/modules/_box-modules.scss */
  #box-black {
    height: 300px;
    width: 300px;
    margin: 15px;
  }
}
@media screen and (max-width: 320px) {
  /* line 47, ../../sass/modules/_box-modules.scss */
  #box-black {
    height: 200px;
    width: 200px;
    margin: 15px;
  }
}
@media screen and (max-height: 720px) {
  /* line 47, ../../sass/modules/_box-modules.scss */
  #box-black {
    height: 200px;
    width: 200px;
    margin: 15px;
  }
}
/* line 5, ../../sass/mixins/_slide-up-boxes.scss */
#box-black > .color-name {
  height: 400px;
  text-align: center;
  margin-top: 350px;
  text-decoration: none;
  font-size: 1.4em;
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media screen and (max-width: 992px), screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_slide-up-boxes.scss */
  #box-black > .color-name {
    height: 300px;
    margin-top: 262.5px;
  }
}
@media screen and (max-width: 320px), screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_slide-up-boxes.scss */
  #box-black > .color-name {
    height: 200px;
    margin-top: 175px;
  }
}
@media screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_slide-up-boxes.scss */
  #box-black > .color-name {
    height: 200px;
    margin-top: 175px;
  }
}
/* line 38, ../../sass/mixins/_slide-up-boxes.scss */
#box-black > .summary {
  height: 100px;
  text-align: center;
  color: lightgray;
  padding: 10px 10px;
  margin: 100px 0 -20px 0;
  background-color: rgba(72, 72, 72, 0.5);
  font-size: 1.0em;
}
@media screen and (max-width: 992px), screen and (max-height: 720px) {
  /* line 38, ../../sass/mixins/_slide-up-boxes.scss */
  #box-black > .summary {
    height: 210px;
    margin: 100px -15px 0;
  }
}
@media screen and (max-width: 320px), screen and (max-height: 720px) {
  /* line 38, ../../sass/mixins/_slide-up-boxes.scss */
  #box-black > .summary {
    height: 210px;
    margin: 200px -15px 0;
  }
}
@media screen and (max-height: 720px) {
  /* line 38, ../../sass/mixins/_slide-up-boxes.scss */
  #box-black > .summary {
    height: 210px;
    margin: 200px -15px 0;
  }
}

/* line 52, ../../sass/modules/_box-modules.scss */
#box-black:hover {
  /*@include slide-up-boxes-hover;*/
}
/* line 5, ../../sass/mixins/_box-hover.scss */
#box-black:hover .color-name {
  margin-top: -200px;
  opacity: 0;
}
@media screen and (max-width: 992px) {
  /* line 5, ../../sass/mixins/_box-hover.scss */
  #box-black:hover .color-name {
    margin-top: -210px;
  }
}
@media screen and (max-width: 320px) {
  /* line 5, ../../sass/mixins/_box-hover.scss */
  #box-black:hover .color-name {
    margin-top: -210px;
  }
}
@media screen and (max-height: 720px) {
  /* line 5, ../../sass/mixins/_box-hover.scss */
  #box-black:hover .color-name {
    margin-top: -210px;
  }
}

/* Define animation*/
/* Chrome, Safari, Opera */
@-webkit-keyframes transitionOpacity {
  /* line 7, ../../sass/mixins/_transition-opacity.scss */
  from {
    opacity: 0;
  }

  /* line 10, ../../sass/mixins/_transition-opacity.scss */
  to {
    opacity: 1;
  }
}

/* For everything else */
@keyframes transitionOpacity {
  /* line 17, ../../sass/mixins/_transition-opacity.scss */
  from {
    opacity: 0;
  }

  /* line 20, ../../sass/mixins/_transition-opacity.scss */
  to {
    opacity: 1;
  }
}

/*Media Query Variables */
/* Cyan Gradient */
/* line 7, ../../sass/modules/_gradient-modules.scss */
#cyan-gradient {
  height: 100px;
  width: 550px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #00ffff));
  background-image: -webkit-linear-gradient(left, #ffffff, #00ffff);
  background-image: -moz-linear-gradient(left, #ffffff, #00ffff);
  background-image: -o-linear-gradient(left, #ffffff, #00ffff);
  background-image: linear-gradient(left, #ffffff, #00ffff);
  /* Chrome, Safari, Opera */
  -webkit-animation: transitionOpacity 1s;
  animation: transitionOpacity 1s;
}

/* Magneta Gradient */
/* line 13, ../../sass/modules/_gradient-modules.scss */
#magenta-gradient {
  height: 100px;
  width: 550px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #ff00ff));
  background-image: -webkit-linear-gradient(left, #ffffff, #ff00ff);
  background-image: -moz-linear-gradient(left, #ffffff, #ff00ff);
  background-image: -o-linear-gradient(left, #ffffff, #ff00ff);
  background-image: linear-gradient(left, #ffffff, #ff00ff);
  /* Chrome, Safari, Opera */
  -webkit-animation: transitionOpacity 1s;
  animation: transitionOpacity 1s;
}

/* Yellow Gradient */
/* line 20, ../../sass/modules/_gradient-modules.scss */
#yellow-gradient {
  height: 100px;
  width: 550px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #ffff00));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffff00);
  background-image: -moz-linear-gradient(left, #ffffff, #ffff00);
  background-image: -o-linear-gradient(left, #ffffff, #ffff00);
  background-image: linear-gradient(left, #ffffff, #ffff00);
  /* Chrome, Safari, Opera */
  -webkit-animation: transitionOpacity 1s;
  animation: transitionOpacity 1s;
}

/* Black Gradient */
/* line 27, ../../sass/modules/_gradient-modules.scss */
#black-gradient {
  height: 100px;
  width: 550px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(left, #ffffff, #000000);
  background-image: -moz-linear-gradient(left, #ffffff, #000000);
  background-image: -o-linear-gradient(left, #ffffff, #000000);
  background-image: linear-gradient(left, #ffffff, #000000);
  /* Chrome, Safari, Opera */
  -webkit-animation: transitionOpacity 1s;
  animation: transitionOpacity 1s;
}

/* Define animation*/
/* Chrome, Safari, Opera */
@-webkit-keyframes transitionOpacity {
  /* line 7, ../../sass/mixins/_transition-opacity.scss */
  from {
    opacity: 0;
  }

  /* line 10, ../../sass/mixins/_transition-opacity.scss */
  to {
    opacity: 1;
  }
}

/* For everything else */
@keyframes transitionOpacity {
  /* line 17, ../../sass/mixins/_transition-opacity.scss */
  from {
    opacity: 0;
  }

  /* line 20, ../../sass/mixins/_transition-opacity.scss */
  to {
    opacity: 1;
  }
}

/* States */
/*Media Query Variables */
