body {
  padding-top: 70px;
  background: url('../images/BG.jpg') center center fixed; 
		  [-webkit-background-size: cover;
  		  -moz-background-size: cover;
  		  -o-background-size: cover;
  		  background-size: cover;]
}

.container {
  max-width: 960px;
}

a {
  color: black;
}


img {
  width: 100%;
}

.jumbotron {
	width: 100%;
}

#contact p {
	font-size: 1.3em;
}

.projectDescription {
  font-size: 1.2em;
}

