
@import "../mixins/transition";
@import "../mixins/box";

$color: blue;

#box-animation {
	@include box;

	background: $color;

	/* Chrome, Safari, Opera */
	-webkit-animation: transitionOne 3s;
	
	animation: transitionOne 3s;

}

#box-animation:hover {
	opacity: .75;
}



@include transition($color);


