
@import "../mixins/transition";

$color: blue;

#box {
	width: 100px;
	height: 100px;
	background: $color;

	/* Chrome, Safari, Opera */
	-webkit-animation: transitionOne 3s;
	
	animation: transitionOne 3s;

}

@include transition($color);


