@import "../mixins/transition-spin";

.logo-animation {
	margin: 20px;
    width: 100px; 
    height: 100px;    
    background: white;

    /* Chrome, Safari, Opera */
    -webkit-animation: transition-spin 6s linear infinite;
    
    animation: transition-spin 6s linear infinite;

}

@include transition-spin;